<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings />
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<connectionStrings>
	  <add name="Parklog_Conexion_Remota" connectionString="Data Source=190.7.139.101\WORLDOFFICE;Initial Catalog=wdata;User ID=cayos;Password=*12345678*;"
	   providerName="System.Data.SqlClient" />
	  <add name="Parklog_Conexion_Local" connectionString="Data Source=190.7.139.101\WORLDOFFICE;Initial Catalog=wdata;User ID=cayos;Password=*12345678*;Connection Timeout=30000"
	   providerName="System.Data.SqlClient" />
	  <add name="LOCAL_JMZF" connectionString="Data Source=DESKTOP-Z\SQLEXPRESS;Initial Catalog=PROFINE2017;User ID=sa;Password=981190;"
	   providerName="System.Data.SqlClient" />
	  <add name="IFSAS\WORLDOFFICE" connectionString="Data Source=IFSAS\WORLDOFFICE;Initial Catalog=WData;User ID=Fonrecar;Password=inv123;"
	   providerName="System.Data.SqlClient" />
 	</connectionStrings> 
</configuration>